.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
vsc-extension-quickstart.md
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
tslint.json
*.vsix
test/**
test-resources/
coverage/**
coverconfig.json
Jenkinsfile
.gitattributes
.travis.yml
CONTRIBUTING.md
